<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sandwich Quiz</title>
  </head>
  <body>
<h1><center>Sandwich quiz</center></h1>
<form method="post" action ="">
  <!-- <label for="noun1"> Enter a name:</label> -->
    <h3>What is the definition of a sandwich?<input type="text" name="definition"/></h3>

     <h3>Is a corndog a sandwich?</h3>
     <input type="radio" name="corndog" value="yes">Yes
     <br>
     <input type="radio" name="corndog" value="no">No

     <h3> is fried chicken a sandwich?</h3>
     <input type="radio" name="fried_chicken" value="yes">Yes
     <br>
     <input type="radio" name="fried_chicken" value="no">No

     <h3>If you cut a sandwich in half, how many sandwiches do you have?: </h3>
     <input type="radio" name="cut_in2" value="1">One Sandwich
 <br>
 <input type="radio" name="cut_in2" value="2">Two Sandwiches
<br>
<input type="radio" name="cut_in2" value="2">Zero, because you just murdered it
     <h3>What is your favorite color?<input type="text" name="color"/></h3>
<h3><input type="checkbox" name="enthusiast" value="checked">
  Are you a sandwich enthusiast?<br>
  <p><input type="submit" value="Submit"></p>
</form>
  </body>
</html>
